@page "/servers"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>Servers</h3>
<div class="container-fluid text-center">
	<div class="row w-50">
		@foreach (string city in cities)
		{
			<div class="col">
				<div class="card @(selectedCity == city ? "border-primary mb-1" : "")">
					<img src="@($"/images/{city}.png")" class="card-img-top" alt="...">
					<div class="card-body">
						<button type="button" class="btn btn-primary" @onclick="@(() => {SelectCity(city);})">@city</button>
					</div>
				</div>
				<text>&nbsp;</text>
			</div>
		}
	</div>
</div>

<br />
<ServerListComponent @rendermode="InteractiveServer" CityName="@selectedCity"></ServerListComponent>
<br />



<a href="/servers/AddServer" class="btn btn-primary"> Add Server </a>

@code {
	private List<string> cities = CitiesRepository.GetCities();

	

	private string selectedCity = "Toronto";

	

	private void SelectCity(string cityName)
	{
		this.selectedCity = cityName;

		//this.servers = ServersRepository.GetServersByCity(this.selectedCity);
	}
}
